@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";


@theme {
  --font-newsreader: "Newsreader", serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

 @plugin "daisyui" {
   themes: caramellatte --default, dracula;
 }

body {
  font-family: var(--font-ubuntu);
}

.notiflix-confirm-content {
  border-radius: 8px !important;
  font-family: var(--font-ubuntu) !important;
  background-color: var(--color-base-100) !important;

  .notiflix-confirm-head > *{
    color: var(--color-primary) !important;
  }

  .nx-confirm-button-ok {
    background-color: var(--color-primary) !important;
  }
}
